<div id='profile_view'>
  <div id='row'>
    <div class='col-md-3' id='avatar'>
      
    </div>
    <div class='col-md-6' id=''>
        <input type="text" ng-model="user['First Name']" placeholder="{{user['First Name']}}"/>
        <input type="text" ng-model="user['Last time']" placeholder="{{user['Last Name']}}"/>
        
        <br/>
        <input type="text" ng-model="user['Phd University']" placeholder="{{user['Phd University']}}"/>
    </div>
  </div><br/>
  <div id='row'>
    <h3>Education:</h3>
    <div class='col-md-9' id=''>
      <input type="text" ng-model="user['Phd Degree']" placeholder="{{user['Phd Degree']}}"/>
      --
      <input type="text" ng-model="user['Phd University']" placeholder="{{user['Phd University']}}"/>
    </div>
  </div>
  <div id='row'>
    <div class='col-md-9' id=''>
      <input type="text" ng-model="user['MS Degree']" placeholder="{{user['MS Degree']}}"/>--
      <input type="text" ng-model="user['MS University']" placeholder="{{user['MS University']}}"/>
    </div>
  </div>
  <div id='row'>
    <div class='col-md-9' id=''>
      <input type="text" ng-model="user['BS Degree']" placeholder="{{user['BS Degree']}}"/>
      <input type="text" ng-model="user['BS University']" placeholder="{{user['BS University']}}"/>
      --
    </div>
  </div><br/><br/><br/>
  <div id='row'>
    <h3>Contact:</h3>
    <div class='col-md-4' id=''>
       <input type="text" ng-model="user['Phone Number']" placeholder="{{user['Phone Number']}}"/>
    </div>
    <div class='col-md-4' id=''>
      <input type="text" ng-model="user['Email']" placeholder="{{user['Email']}}"/>
    </div>
  </div>
  <div id='row'>
  <div class='col-md-6' id=''>
    <input type="text" ng-model="user['Country']" placeholder="{{user['Country']}}"/>
  <div>
  </div>
</div>
